  <aside>
    <a href="https://play.google.com/store/apps/details?id=com.chillcoding.kotlin"><h3 align="center" style="color:#00C853">Kotlin pour Android</h3></a>
    <p align="left" style="text-align: center">
      <a align="middle" href="https://play.google.com/store/apps/details?id=com.chillcoding.kotlin"><img width="200px" src="/app/kotlin-for-android/images/ic_launcher.png" alt="Application Kotlin pour Android"></a><br/>
      <a align="middle" href="https://mailchi.mp/1f58d2a954c1/kotlin-pour-android" class="btn btn-default btn-xl wow tada" style="color:#00C853">Devenir un utilisateur privilégié.</a>
    </p>
  </aside>
