  <aside>
    <a href="https://formation.chillcoding.com/courses/ux-design"><h3 align="center" style="color:black">Formation <i>UI / UX Design</i></h3></a>
    <p align="left" style="text-align: center">
      <a align="middle" href="https://formation.chillcoding.com/courses/ux-design"><img width="325px" src="/assets/img/logo-UX-UI-Design.png" alt="Logo UX / UI Design"></a><br/>
      <a align="middle" href="https://formation.chillcoding.com/courses/ux-design" class="btn btn-default btn-xl wow tada" style="color:black">Voir la Formation <i>UI / UX Design</i>.</a>
    </p>
  </aside>
