{% assign author = site.data.members[page.author] %}
{% capture twitter_link %}{{ author.twitter | prepend: "https://twitter.com/" }}{% endcapture %}
{% capture edit_link %}{{ site.repository_url }}/edit/master/{{ page.path }}{% endcapture %}

<article class="{{ include.context }}">
  {% if include.context == 'home' %}
    <h2 class="text-center">
      <a href="{{ page.url }}" class="permalink" title="Permalink">
        {{ page.title }}
      </a>
    </h2>
  {% else %}
    <h1 class="text-center">
      {{ page.title }}
    </h1>
  {% endif %}

  <div class="post-meta">
    {% if include.context == 'home' %}
      <div class="post-meta-content">
        {% for category in page.categories %}
          <a href="/blog/{{ category }}" class="badge text-uppercase">{{ category }}</a>
        {% endfor %}

<time class="text-uppercase" itemprop="datePublished" datetime="{{ page.last_update }}">{{ page.last_update | date: "%-d %B %Y" }}</time>
        <span class="author text-uppercase">
          <a href="{{ twitter_link }}" target="_blank">{{ site.data.members[page.author].name }}</a>
        </span>
      </div>
    {% else %}
      <div class="post-meta-content">
        <time class="text-uppercase" itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date: "%-d %B %Y"}}</time>
        <time class="text-uppercase" itemprop="datePublished" datetime="{{ page.last_update }}">{{ page.last_update | date: "%-d %B %Y" }}</time>

        <a href="{{ twitter_link }}">
          <img width="100" height="100" alt="{{ author.name }}" class="avatar" src="{{ author.image }}">
        </a>

        <span class="author text-uppercase">
          Posted by <a href="{{ twitter_link }}" target="_blank">{{ site.data.members[page.author].name }}</a>
        </span>

        <div class="categories">
          {% for category in page.categories %}
            <a href="/blog/{{ category }}" class="badge text-uppercase">{{ category }}</a>
          {% endfor %}
        </div>
      </div>
      <hr />
    {% endif %}
  </div>

  <div class="post-content">
    {% if include.context == 'home' %}
      <div class="excerpt lead"><a href="{{ page.url }}" class="permalink" title="Permalink">{{ page.excerpt | markdownify }}</a></div>
    {% else %}
      {{ page.content | markdownify }}
      <p>
        {% if page.categories contains 'fr' %}
          <a href='https://twitter.com/intent/tweet?text="{{ page.title }}"&via={{ site.data.members["company"].twitter }}&url={{ site.url }}{{ page.url }}' target="_blank">Partagez</a>
          ou <a href="https://twitter.com/intent/tweet?text=@{{ author.twitter }} &url={{ site.url }}{{ page.url }}" target="_blank">réagissez</a> sur Twitter.
        {% else %}
          <a href='https://twitter.com/intent/tweet?text="{{ page.title }}"&via={{ site.data.members["company"].twitter }}&url={{ site.url }}{{ page.url }}' target="_blank">Share</a>
          or <a href="https://twitter.com/intent/tweet?text=@{{ author.twitter }} &url={{ site.url }}{{ page.url }}" target="_blank">react</a> on Twitter.
        {% endif %}
      </p>
      <p>
        {% if page.categories contains 'fr' %}
          <em>Vous avez trouvé une erreur ou voulez améliorer cet article ? <a href="{{ edit_link }}" target="_blank">Editez le directement</a> !</em>
        {% else %}
          <em>Found a typo or want to improve this post? <a href="{{ edit_link }}" target="_blank">Edit it directly</a>!</em>
        {% endif %}
      </p>
    {% endif %}

    <p>
      {{ icon fa-comment }}<a href="{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.id }}">Comments</a>
    </p>
    {% if include.context == 'post' %}
      {% include post_comments.html %}
    {% endif %}
  </div>
</article>
