html,
body {
  height: 100%;
  width: 100%;
}

body {
  @include sans-serif-font;
}

hr {
  border-color: $theme-primary;
  border-width: 3px;
  max-width: 50px;
}

hr.light {
  border-color: white;
}

a {
  @include transition-all;
  color: $theme-primary;
  &:hover,
  &:focus {
    text-decoration: none;
    color: darken($theme-primary, 10%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include serif-font;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bg-primary {
  background-color: $theme-primary;
}

.bg-dark {
  background-color: $theme-dark;
  color: white;
}

.text-faded {
  color: rgba(white, .7);
}

section {
  padding: 100px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

// Navigation
.navbar-default {
  background-color: white;
  border-color: rgba($theme-secondary, .2);
  @include sans-serif-font;
  @include transition-all;
  .navbar-header .navbar-brand {
    color: $theme-secondary;
    &:hover,
    &:focus {
      color: white;
    }
    @include sans-serif-font;
    text-transform: uppercase;
  }
  .navbar-header .navbar-brand-coding {
    font-weight: 700;
    font-family: Menlo;
    text-transform: lowercase;
  }
  .navbar-toggle {
    border: none;
    &:hover {
      background: none;
    }
  }
  .nav {
    > li {
      > a,
      > a:focus {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        color: $theme-dark;
        &:hover {
          color: $theme-primary;
        }
      }
      &.active {
        > a,
        > a:focus {
          color: $theme-primary !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  &.affix, &.blog {
    background-color: white;
    border-color: rgba($theme-secondary, .2);
    .navbar-header .navbar-brand {
      color: $theme-secondary;
      &:hover,
      &:focus {
        color: $theme-secondary;
      }
    }
    .navbar-toggle .icon-bar {
      background-color: $theme-secondary;
    }
    .nav > li > a {
      color: $theme-dark;
      &:hover,
      &:focus {
        color: $theme-dark;
      }
    }
  }
  @media (min-width: 768px) {
    background-color: transparent;
    border-color: rgba(white, .3);
    .navbar-header .navbar-brand {
      color: rgba(white, .7);
      &:hover,
      &:focus {
        color: white;
      }
    }
    .nav > li > a,
    .nav > li > a:focus {
      color: rgba(white, .7);
      &:hover {
        color: white;
      }
    }
  }
}

// Bootstrap Overrides
.text-primary {
  color: $theme-primary;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

// Button Styles
.btn-default {
  @include button-variant($theme-dark, white, white);
}

.btn-primary {
  @include button-variant(white, $theme-primary, $theme-primary);
}

.btn-xl {
  padding: 15px 30px;
}

.label {
  color: $theme-primary;
}

.brand-chill{
	font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
	text-transform: uppercase;
	text-transform: none !important;
  color: black !important;
}
.brand-coding{
	font-weight: 700;
  font-family: Menlo;
  text-transform: lowercase;
}
.brand-o{
	color: #35E0B4;
}
.brand-chill:hover{
	text-decoration: none;
	color: #00274a;
}
