* {
  margin:0;
  padding:0;
}

body {
  background:#000;
  font-family: 'Avenir', 'Yantramanav', sans-serif;
  font-size:15px;
  letter-spacing:2px;
  color:#fff;
  color:rgba(255,255,255,0.85);
}

.box {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

#global {
  width:100%;
  height:100%;
  text-align:center;
  background:rgba(0,0,0,0.6);
}

#content {
  height:650px;
  padding:0 4em;
}

h1 {
  margin : 20px;
}

h2, h3 {
  font-size:24px;
  font-weight:normal;
  padding:2em 0 1em;
  line-height:1.6em;
  letter-spacing:2px;
}

h3 {
  font-size:15px;
  letter-spacing:3px;
  margin-top: 1em;
  padding: 0;
}

p {
  text-align: justify;
}

#subscribe {
  width:400px;
  margin:0 auto;
}

.email-wrap {
  width:260px;
  float:left;
  position:relative;
  text-align:left;
}

.email-wrap label {
  display:block !important;
  position:relative;
  top:8px;
  left:0px;
  width:400px;
  line-height:1.7em;
  font-size:0.6em;
  text-transform:uppercase;
  letter-spacing:2px;
}

.submit-wrap {
  width:125px;
  float:left;
  margin-left:15px;
}

.frequency-wrap {
 width:0px;
 height:33px;
 padding: 0;
 margin-left: 150px;
}

input.email {
  width:240px;
  height:50px;
  padding:0 10px;
  background-color:rgba(255,255,255,0.1);
  border:none;
  font-family:inherit;
  font-size:inherit;
  color:#fff;
  -webkit-transition:background-color 0.2s linear;
  -moz-transition:background-color 0.2s linear;
  transition:background-color 0.2s linear;
}

button.submit {
  width:140px;
  height:50px;
  border:none;
  background:#fff;
  color:#000;
  text-transform:uppercase;
  font-family:inherit;
  font-size:inherit;
  cursor:pointer;
  -webkit-transition:background-color 0.2s linear;
  -moz-transition:background-color 0.2s linear;
  transition:background-color 0.2s linear;
}


/* hide input */
input.radio:empty {
  display: none;
}
/* style label */
input.radio:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: -10px;
  bottom: 0;
  left: -50px;
  content: '';
  width: 2em;
  background: #000;
  border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: lightgray;
}

input.radio:hover:not(:checked) ~ label {
  color: lightgray;
}

/* toggle on */
input.radio:checked ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #fff;
  background-color: #000;
}

input.radio:checked ~ label {
  color: #fff;
}

/* radio focus */
input.radio:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

footer {
  padding-top:7em;
  font-size:0.65em;
  letter-spacing:2px;
  text-transform:uppercase;
  color:rgba(255,255,255,0.3);
}

footer p {
  padding:0.7em 0;
  font-size: 1.2em;
}

.spacer {
  clear:both;
}

a {
  text-decoration:none;
  color:#fff;
  font-size: 1.2em;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:#fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:#fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:#fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:#fff;
}

input:focus, button:focus {
  color:#000;
  outline:none;
  background-color:#fff;
}
