p {
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
}
textarea {
    background-color: #F7F9F9;
    border-radius: 3px;
    padding: 0 3px;
}
pre {
    background-color: #F7F9F9;
    border-radius: 3px;
}
